<appSettings>
  <!-- PORTALURL -->
  <add key="PORTALURL" value="https://devportal.secdev.dodd.ohio.gov" />

  <!-- Old MA -->
  <add key="OLDMA" value="http://MA.devlapps2.mrdd1.ad.mr.state.oh.us/MA_temp.asp" />

  <!-- Upload/Download web file locations -->
  <!--<add key="WEBFILELOCATION" value="C:\WebFile\Upload\PCW\CW\" />
  <add key="WEBFILELOCATION_DOWNLOADPDFs" value="Downloads/PDFs" />
  <add key="WEBFILELOCATION_DOWNLOADTempPDFs" value="Downloads/TempPDFs" />-->

  <!-- Security login UPN suffix -->
  <!--<add key="Security_UPN_Suffix" value="@secdev"/>
  <add key="SystemCode" value="PCW" />
  <add key="SYSTEMEXITURL" value="cwlogout.aspx" />
  <add key="lanIPmask" value="10.26.\d{1.3}\.\d{1,3}" />
  <add key="APPSLIST" value="" />-->

  <!-- Email settings -->
  <add key="EMAILSERVER" value="dodddevfs01.mrdd1.ad.mr.state.oh.us"/>
  <add key="SYSTEMNAME" value="Medication Administration"/>
  <add key="FromEmailAddress" value="DODDInfo_DoNotReply@dodd.ohio.gov"/>
  <add key="ToEmailAddress" value="Steve.Nicosia@dodd.ohio.gov;Vema.Reddy@dodd.ohio.gov"/>
  <add key="SubjectStatus" value="Status of your application"/>
  <add key="EmailMappingSubjectStatus" value="Mapping/Unmapping of Secetary in MAIS system"/>
  <add key="CCSummaryEmailAddress" value="Steve.Nicosia@dodd.ohio.gov"/>
  <add key="CCEmailAddress" value="Steve.Nicosia@dodd.ohio.gov"/>


  <!-- New Security Portal Access App Settings -->
  <add key="BUCode" value="BUL2:003_MAIS"/>
  <add key="CreateUserAccountAccess" value="True"/>
  <!-- Other App Settings -->
  <add key="USERID" value="20876"/>
  <add key="ENVIRONMENTTYPE" value="DEV"/>

  <add key="UDSServiceEndpoint" value="http://uds.devlds.mrdd1.ad.mr.state.oh.us/UDSService.asmx"/>
  <add key ="PublicAcessEndPoint" value="http://maisws.devlapps2.mrdd1.ad.mr.state.oh.us/MAIS_DODD_WCF.svc"/>

  <!--<add key="UDSServiceEndpoint" value="http://uds.uatds.mrdd1.ad.mr.state.oh.us/UDSService.asmx"/>
  <add key="DODDSVCServiceEndPoint" value="http://doddsvc.devlds.mrdd1.ad.mr.state.oh.us/Security/UserService.svc"/>
  <add key="EmailOverride" value="Jyothi.Telegiri@dodd.ohio.gov"/>
  <add key ="OPSREmailAddress" value="Test.OPSR@dodd.ohio.gov"/>-->

  <add key="PdfConverterLicenseKey" value="1/zl9+Tk9+bm5+735Pnn9+Tm+ebl+e7u7u4="/>
</appSettings>