<connectionStrings>
  <clear/>
  <add name="SECURITYCONNECTION" connectionString="server=dodddevsql01;database=Oiddbprod;Integrated Security=True;Application Name=MAIS" />
  <add name="Provider" connectionString="server=dodddevsql01;database=Provider;Integrated Security=True" />
  <add name="OIDDB" connectionString="server=dodddevsql01;database=Oiddbprod;Integrated Security=True;Application Name=MAIS" />
  <add name="MAIS" connectionString="server=dodddevsql01;database=AgencyPrimary;Integrated Security=True;Application Name=MAIS" />
  <add name="MAISContext" connectionString="metadata=res://*/Contexts.MA.csdl|res://*/Contexts.MA.ssdl|res://*/Contexts.MA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dodddevsql01;initial catalog=AgencyPrimary;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>




