<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PCW.Web.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>

  <connectionStrings>
    <add name="SECURITYCONNECTION" connectionString="server=dodddevsql01;database=Oiddbprod;Integrated Security=True;Application Name=MAIS"/>
    <add name="MAIS" connectionString="server=dodddevsql01;database=AgencyPrimary;Integrated Security=True;Application Name=MAIS"/>
    <add name="MAISContext" connectionString="metadata=res://*/Contexts.MA.csdl|res://*/Contexts.MA.ssdl|res://*/Contexts.MA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dodddevsql01;initial catalog=AgencyPrimary;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Provider" connectionString="server=dodddevsql01;database=Provider;Integrated Security=True;Application Name=MAIS"/>
    <add name="OIDDB" connectionString="server=dodddevsql01;database=Oiddbprod;Integrated Security=True;Application Name=MAIS"/>
    <add name="SRC" connectionString="server=dodddevsql01;database=SRC;Integrated Security=True;Application Name=MAIS"/>
    <add name="Footprints" connectionString="server=dodddevvndsql01;database=Footprints;Integrated Security=True;Application Name=MAIS"/>
  </connectionStrings>

  <appSettings>
    <!-- PORTALURL -->
    <add key="PORTALURL" value="https://devportal.mrdd1.ad.mr.state.oh.us/"/>

    <!-- Upload/Download web file locations -->
    <add key="WEBFILELOCATION" value="C:\WebFile\Upload\PCW\CW\"/>
    <add key="WEBFILELOCATION_DOWNLOADPDFs" value="Downloads/PDFs"/>
    <add key="WEBFILELOCATION_DOWNLOADTempPDFs" value="Downloads/TempPDFs"/>

    <!-- Security login UPN suffix -->
    <add key="Security_UPN_Suffix" value="@secdev"/>
    <add key="SystemCode" value="PCW"/>
    <add key="SYSTEMEXITURL" value="login.aspx"/>
    <add key="lanIPmask" value="10.26.\d{1.3}\.\d{1,3}"/>
    <add key="APPSLIST" value=""/>

    <!-- Email settings -->
    <!--<add key="EMAILSERVER" value="dodddevfs01.mrdd1.ad.mr.state.oh.us"/>
    <add key="SYSTEMNAME" value="Medication Administration"/>
    <add key="FromEmailAddress" value="DODDInfo_DoNotReply@dodd.ohio.gov"/>
    <add key="SubjectAttestations" value="DODD Provider Certification Attestations"/>
    <add key="SubjectSummary" value="DODD Provider Certification Application Summary"/>
    <add key="SubjectDownloads" value="DODD Provider Certification Documents"/>
    <add key="SubjectLicensure" value="DODD Licensure Fee Payment Notification"/>
    <add key="LicensurePaymentNotifyEmail" value="randy.brubaker@dodd.ohio.gov"/>-->

    <!-- CBOSS Central Payment Portal Settings -->
    <!--<add key="ApplicationURL" value="http://localhost:1639/"/>
    <add key="CBOSSCancelUrl" value="CWFinalConfirmation.aspx"/>
    <add key="CBOSSHomeUrl" value="CWFinalConfirmation.aspx"/>
    <add key="CBOSSClientAccount" value="312511270911"/>
    <add key="CBOSSOriginatorID" value="341"/>
    <add key="CBOSSPaymentUrl" value="http://beta.payments.cboss.com/Payment.aspx?id="/>
    <add key="CBOSSServiceEndpoint" value="http://beta.payments.cboss.com/Services/DataTransfer/1.0/PublicTokenization.svc"/>
    <add key="CBOSSBindingMode" value="TEST"/>-->

    <!-- Other App Settings -->
    <!--<add key="USERID" value="1197"/>-->
    <!-- No pending apps , has permanent provider. -->
    <!--<add key="USERID" value="23155"/>-->
    <!-- has no permanent provider, -->
    <add key="USERID" value="19757"/>
    <add key="ENVIRONMENTTYPE" value="DEV"/>
    <add key="ISPROVIDERDBENABLED" value="True"/>
    <add key="PROGSID" value="2"/>
    <add key="SELFStartDate" value="7/1/2012"/>

    <add key="FootprintsWorkspace" value="27"/>
    <add key="FootprintsICFWorkspace" value="37"/>
    <add key="FootprintsServiceUrl" value="http://10.26.50.76/MRcgi/MRWebServices.pl"/>
    <add key="FootprintsUserID" value="fpapi_user@dodd"/>
    <add key="FootprintsPassword" value="F00t8p1usr"/>

    <add key="UDSServiceEndpoint" value="http://uds.uatds.mrdd1.ad.mr.state.oh.us/UDSService.asmx"/>
    <add key="DODDSVCServiceEndPoint" value="http://doddsvc.devlds.mrdd1.ad.mr.state.oh.us/Security/UserService.svc"/>
    <add key="EmailOverride" value="angelia.morgan@dodd.ohio.gov"/>
  </appSettings>

  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>

  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ADONetAppender"/>
    </root>
    <appender name="ADONetAppender" type="MAIS.Business.Logging.MAISAdoNetAppender">
      <bufferSize value="1"/>
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <commandText value="INSERT INTO [log].[Application_Errors_Log] ([LogDate],[Thread],[Level],[ProgNm],[Logger],[Message],[Exception], [UserId]) VALUES (@log_date, @thread, @log_level, @progNm, @logger, @message, @exception, @userId)"/>
      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@progNm"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="Medication Administration"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="log4net.Layout.ExceptionLayout"/>
      </parameter>
      <parameter>
        <parameterName value="@userId"/>
        <dbType value="String"/>
        <size value="30"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value=""/>
        </layout>
      </parameter>
    </appender>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
