<appSettings>
  <add key="ProgramID" value="4" />
  <add key="FootprintsWorkspaceID" value="27" />
  <add key="FootprintsICFWorkspaceID" value="37" />
  <add key="FootprintsServiceUrl" value="http://10.26.50.76/MRcgi/MRWebServices.pl" />
  <add key="FootprintsUserID" value="fpapi_user@dodd"/>
  <add key="FootprintsPassword" value="F00t8p1usr"/>
  <add key="AgingFootprintsWorkspaceID" value="43" />
  <add key="AgingFootprintsICFWorkspaceID" value="43" />
  <add key="AgingFootprintsServiceUrl" value="http://10.26.50.76/MRcgi/MRWebServices.pl" />
  <add key="AgingFootprintsUserID" value="fpapi_user@dodd"/>
  <add key="AgingFootprintsPassword" value="F00t8p1usr"/>
  <add key ="LevelOneStartDate"  value ="2013-01-01"/>
</appSettings>
