<connectionStrings>
  <clear/>
  <add name="SECURITYCONNECTION" connectionString="server=mrddprodsql2;database=Oiddbprod;User Id=sysprod;Password=dorpsys;Application Name=MAIS" />
  <add name="OIDDB" connectionString="server=mrddprodsql2;database=Oiddbprod;User Id=sysprod;Password=dorpsys;Application Name=PCW" />
  <add name="MAIS" connectionString="server=doddprodsql01;database=AgencyPrimary;Integrated Security=True;Application Name=MAIS" />
  <add name="MAISContext" connectionString="metadata=res://*/Contexts.MA.csdl|res://*/Contexts.MA.ssdl|res://*/Contexts.MA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=doddprodsql01;initial catalog=AgencyPrimary;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>